.gpt3Whatgpt3 {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: var(--color-footer);

  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gpt3Whatgpt3Feature {
  display: flex;
}

.gpt3FeaturesContainerFeature {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;

  margin: 1rem;
}

.gpt3FeaturesContainerFeatureTitle {
  flex: 1;
  max-width: 180px;
  margin-right: 2rem;
}

.gpt3FeaturesContainerFeatureTitle h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.gpt3FeaturesContainerFeatureTitle div {
  width: 38px;
  height: 3px;
  background: var(--gradient-bar);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.25rem;
}

.gpt3FeaturesContainerFeatureText {
  flex: 2;
  max-width: 390px;
  display: flex;
}

.gpt3FeaturesContainerFeatureText p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-text);
}

.gpt3Whatgpt3Feature .gpt3FeaturesContainerFeature {
  margin: 0;
}

.gpt3Whatgpt3Feature .gpt3FeaturesContainerFeatureText {
  margin: 0;
  max-width: 700px;
}

.gpt3Whatgpt3Heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 4rem 0 2rem;
}

.gpt3Whatgpt3Heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  max-width: 510px;
  font-family: var(--font-family);
}

.gpt3Whatgpt3Heading p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-subtext);
  cursor: pointer;
}

.gpt3Whatgpt3Container {
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;
}

/* Customizing feature component as per needs */
 
.gpt3Whatgpt3Container .gpt3FeaturesContainerFeature {
  flex: 1;
  margin: 1rem;
  min-width: 210px;
  display: unset;
  flex-direction: column;
}

/* Customizing feature component as per needs */
.gpt3Whatgpt3Container .gpt3FeaturesContainerFeatureText {
  margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
  .gpt3Whatgpt3Heading {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0rem;
  }

  .gpt3Whatgpt3Heading p {
      margin-top: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .gpt3FeaturesContainerFeatureTitle {
    font-size: 14px;
    line-height: 22px;
  }

  .gpt3FeaturesContainerFeatureText p {
    font-size: 12px;
    line-height: 20px;
  }

  .gpt3FeaturesContainerFeature {
    margin: 1rem 0;
  }
  /* Customizing feature component as per needs */
  .gpt3Whatgpt3Feature .gpt3FeaturesContainerFeature {
      flex-direction: column;
  }

  /* Customizing feature component as per needs */
  .gpt3Whatgpt3Feature .gpt3FeaturesContainerFeatureText{
      margin-top: 0.5rem;
  }

  .gpt3Whatgpt3Heading h1 {
      font-size: 28px;
      line-height: 40px;
  }
}

@media screen and (max-width: 350px) {
  /* Customizing feature component as per needs */
  .gpt3Whatgpt3Container .gpt3FeaturesContainerFeature {
      margin: 1rem 0;
      min-width: 100%;
  }
}